<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %level %logger{24} %X{akkaSource}: %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.novotnyr" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>

